{% load staticfiles %}
{% load sb_tags %}
<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" style="font-family: monospace;" href="#"><img src="{% static "i/smlogo.ico"%}" style="margin-right: 10px; margin-top: -3px;"><strong>SugarBaby</strong></a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a href="/count">Count sugars</a></li>
        <li><a href="/diary">Browse diary</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="/logout">Logout</a></li>
        <li><a href="/admin">Admin</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Help<b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><a href="https://github.com/ewiger/sugarbaby">GitHub</a></li>
            <li><a href="#aboutModal" data-toggle="modal" data-target="#aboutModal">About</a></li>
          </ul>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<div class="modal fade" id="aboutModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">About SugarBaby</h4>
      </div>
      <div class="modal-body">
        <h4>You are running <a href="https://github.com/ewiger/sugarbaby">SugarBaby</a> version <strong>{% sugarbaby_version %}</strong></h4>
        <img src="{% static "i/logo.png"%}">
        <ul style="font-size: 24px;">
          <li>tracks sugars of the scanned products</li>
          <li>helps to follow a strict diabetic diet</li>
          <li>connected to <strong>#migros</strong> and <strong>#GS1</strong> product databases</li>
        </ul>
        <div class="row"><span style="text-align: righfon;">Part of <span style="font-weight: bold; font-size: 32;">#</span><a href="http://www.hackzurich.com/"><img src="{% static "i/hackzurichlogo.png"%}"></a> effort, together with&nbsp;<img width="100px" src="{% static "i/logo-gs1.png"%}">&nbsp;<img width="100px" src="{% static "i/logo-migros.jpg"%}"></div>
        <hr />
<p>Licensed under the MIT License (MIT). Read a copy of LICENSE distributed with this code. Copyright &copy; 2014 Yauhen Yakimovich</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>        
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
